@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Future Street<br />
    London, L42NXU57<br />
    <abbr title="Phone">P:</abbr>
    11177711177
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:FootballclubSupportXXX@example.com">FootballSupport@example.com</a><br />
    <strong>FutureTeam:</strong> <a href="mailto:Futureteam@example.com">Futureteam@example.com</a>
</address>
