@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Future team</h1>

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <video id="VideoPlayer" src="@Url.Content("~/Video/League.mp4")" controls="true"
           width="400" height="350" loop="true" />
</body>
</html>

